@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color-scheme: dark;
}

:root {
  color: #fff;
  text-align: center;
  font-size: large;
  overflow-x: hidden;
  font-family: Cabin, sans-serif;
  background-color: #000000ff;
  color-scheme: dark;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  svg {
    width: inherit;
    height: inherit;
  }
}
